@import '../index.scss';

.checkout-block {
	display: flex;
	gap: 1rem;
	font-size: 12px;
	color: $dark-grayish-blue;
	cursor: pointer;
	.name {
		font-weight: 500;
		flex: 1;
	}
	.price {
		font-size: 0.8rem;
		font-weight: 400;
		color: inherit;
	}
	.quantity {
		padding-left: 4px;
		letter-spacing: 4px;
	}
	.product-img {
		img {
			width: 50px;
			border-radius: 4px;
		}
	}
}
