
.modal {
	.modal-content {
		position: relative;
		background: transparent;
		border: 0;
	}
	.modal-header {
		border-bottom: 0;
		justify-content: flex-end;
		cursor: pointer;
		img {
			width: 20px;
		}
	}
	.modal-body {
		.arrow-left, .arrow-right {
			position: absolute;
			top: 40%;
			background: #ffffff;
			border-radius: 100%;
			padding: 0.8rem 1.1rem;
			transform: translateY(-50%);
		}
		.arrow-left {
			left: 0;
		}
		.arrow-right {
			right: 0;
		}
		.modal-slider {
			.img-preview {
				img {
					width: 100%;
					border-radius: 10px;
				}
				margin-bottom: 2rem;
			}
			.image-thumbnail {
				justify-content: center;
				gap: 20px;
			}
		}
	}
}

@media(max-width: 992px) {
	.modal {

	}
}
