
.modal {
	.modal-content {
		position: relative;
		background: transparent;
		border: 0;
	}
	.modal-header {
		border-bottom: 0;
	}
	.modal-body {
		.arrow-left, .arrow-right {
			position: absolute;
			top: 40%;
			background: #ffffff;
			border-radius: 100%;
			padding: 0.8rem 1.1rem;
			transform: translateY(-50%);
		}
		.arrow-left {
			left: 0;
		}
		.arrow-right {
			right: 0;
		}
	}
}

@media(max-width: 992px) {
	.modal {
		.preview-img {
			img {
				width: 100%;
			}
		}
	}
}
