.product-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 4rem;
	padding-bottom: 4rem;
	.product-img-block {
		justify-self: center;
	}
	.product-info-text {
		align-self: center;
	}
	.img-preview {
		margin-bottom: 2rem;
		cursor: pointer;
		img {
			width: 450px;
			border-radius: 18px;
		}
	}
}

@media(max-width: 992px) {
	.product-block {
		grid-template-columns: 1fr;
		padding-top: 0;
		.container {
			padding-right: 0;
			padding-left: 0;
		}
		.img-preview {
			img {
				width: 100%;
				border-radius: 0;
			}
		}
	}
}
